# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Node
node_modules/

# React
build/
dist/

# Coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/

# IDE
.idea/